@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


:root {
    --main-font: "Poppins", sans-serif;
    --color-gray: #eee8ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.body{
    background-color: #1a0b2a;
}

.header{
    background-color:rgb(42, 28, 58);
    width: 100%;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.header .title{
    color: var(--color-gray);
    font-family: var(--main-font), sans-serif;
    font-weight: 600;
    padding: 4px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 100px;
}
.main .form{
    width: 100%;
    display: flex;
    flex-position: inline;
    align-items: center;
    justify-content: center;
}

.form .input{
    background-color: var(color-gray);
    border-radius: 4px;
    padding: 10px;
    width: 50%;
    outline: none;
    color:rgb(83, 83, 83);
    font-family: var(--main-font);
}

.form .submit{
    background-color: #1c72f4;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border-none;
    margin-left: 20px;
}
